@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght,MONO@0,300..800,1;1,300..800,1&display=swap');

:root {
    --window-menu-color: #000082;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: justify;
}

html {
    height: 100vh;
    width: 100vw;
    font-family: "Google Sans Code", monospace;
}

body {
    height: 100%;
    padding-top: .1px;

    background: #ffd83d;
    background: linear-gradient(0deg, rgba(255, 216, 61, 1) 0%, rgba(210, 70, 252, 1) 19%, rgba(138, 84, 255, 1) 50%, rgba(0, 14, 87, 1) 100%);
    background-attachment: fixed;
}

#background {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -999;
    background-image: url("images/stars.png");
    background-attachment: fixed;
    background-size: cover;
}

header {
    position: absolute;
    padding: 2em;
    color: white;
}

img {
    max-height: 100%;
    max-width: 100%;
}

main {
    width: 50%;
    margin: 10vh auto 10vh;
    padding: 5px;

    /* border: solid white; */
    display: flex;
    flex-direction: column;
}

.post {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.date {
    text-align: end;
}

.window {
    box-shadow: inset -2px -2px 0px 0px #000000, inset 2px 2px 0px 0px #C3C3C3, inset -5px -5px 0px 0px #828282, inset 5px 5px 0px 0px #FFFFFF;
    background: #C3C3C3;
}

.topbar {
    height: 2em;
    padding-left: .5em;

    display: flex;
    align-items: center;

    color: white;
    /* background-color: var(--window-menu-color); */
    background: #d246fc;
    background: linear-gradient(185deg, rgba(210, 70, 252, 1) 0%, rgba(79, 28, 189, 1) 100%);
}

.topbar img {
    height: 100%;
}

#window-body {
    padding: 1em;
}

.clickable:hover {
    cursor: pointer;
}

#menu {
    position: fixed;
    bottom: 4vh;
    width: 10vw;

    padding: 0.5em;

    display: flex;
    flex-direction: column-reverse;
}

#menu.hidden {
    display: none
}

.menu-element {
    padding: 0.2em;
    height: 2em;

    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}

.menu-element+.menu-element {
    border-top: solid 1px #828282;
    order: -1;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: .5em;
    width: 100vw;
    height: 4vh;
    min-height: 3em;

    display: flex;
    align-items: center;
    gap: .3em;

    background-color: #000082;

    font-size: small;
}

nav {
    flex: 1;
    height: 100%;
    display: flex;
}

nav>a {
    padding: 0 1em;
    min-width: 15em;
    width: 10vw;
}

footer a {
    height: 100%;

    display: flex;
    align-items: center;
}